In [1]:
import os
import numpy as np
import pandas as pd
import csv
import matplotlib as plt

In [2]:
print("numpy==",np.__version__,sep=''); 
print("pandas==",pd.__version__,sep='');  
print("csv==",csv.__version__,sep='')
print("matplotlob==",plt.__version__,sep='')

numpy==1.23.5
pandas==1.5.2
csv==1.0
matplotlob==3.6.2

In [4]:
# Load the .csv file in a dataframe, call it "EnergySavingsFrame"
print("Let's check the present working directory and it's contents,", ' with a "!pwd" followed by an "!ls"') 
!pwd
!ls
path='/home/jovyan/Gordon/'; fname='Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses.csv'
#EnergySavingsFrame=pd.read_csv(path+fname)
EnergySavingsFrame=pd.read_csv(fname)


pd.set_option('display.max_rows', 5)
pd.set_option('display.max_columns' , 30)

print("\n OK I've got the dataframe. It's of size", EnergySavingsFrame.shape)
EnergySavingsFrame

Let's check the present working directory and it's contents,  with a "!pwd" followed by an "!ls"
/home/jovyan/Gordon
'Day 5.ipynb'
 Day4.ipynb
 Day4a.ipynb
 NYC_EnergySavings.csv
 TryIt.jnk
 UnixPlay
 Untitled.ipynb
 Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses.csv
 junk.txt

 OK I've got the dataframe. It's of size (2363, 30)

,Period,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,Company Type,Current fulltime,Job created,Job retain,Effective Date,Total Savings,Savings from beginning receiving benefits,Gas Savings,Cogen savings,Electric Savings,Borough,Latitude,Longitude,Community Board,Council District,BIN,BBL,Census Tract (2020),Neighborhood Tabulation Area (NTA) (2020)
0,FY2018,"139 ACA Realty, Inc.",Eitan Chandally,barbara@dial7.com,7187076123,43-23 35th Street,Long Island City,NY,11101,Commercial,Limousine Service,ICIP,125.0,NaN,NaN,04/07/2008,8314.92,123975.24,NaN,NaN,NaN,QUEENS,40.745706,-73.929565,402.0,26.0,4003160.0,4.002220e+09,17902.0,QN0202
1,FY2018,"141 Lake Avenue Realty c/o JR Produce, Inc.",Josef Raz,jrproduce@gmail.com,7183708782,141 Lake Avenue,Staten Island,NY,10303,Wholesale/Warehouse/Distribution,Dist. of prepacked salads,ICIP,6.0,NaN,NaN,12/08/2009,6010.71,47512.89,NaN,NaN,NaN,STATEN IS,40.632845,-74.151048,501.0,49.0,5146740.0,5.011610e+09,239.0,SI0107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2361,FY2022,WUD Furniture LLC,Keren Springer,keren@wudfurniture.com,7184867952,1102 Atlantic Avenue,Brooklyn,NY,11238,Manufacturing,"We make handcrafted furniture, surfaces, lighting",Tenant,7.0,NaN,NaN,01/26/2016,3651.88,20299.33,0.0,0.0,3651.88,BROOKLYN,40.679518,-73.956819,308.0,35.0,3027572.0,3.011260e+09,305.0,BK0802
2362,FY2022,Wurtec Incorporated,Diego Alvaraado,diego.alvarado@wurtec.com,4197261066,31-50 31st Street,Lond Island City,NY,11106,Wholesale/Warehouse/Distribution,Elevator tooling products,Relocator,2.0,NaN,NaN,10/03/2019,5162.19,6646.53,0.0,0.0,5162.19,QUEENS,40.763148,-73.924442,401.0,22.0,4007562.0,4.005890e+09,61.0,QN0103

In [19]:
# How many jobs were created in Queens?

Number_of_Queens_jobs = int(EnergySavingsFrame.loc[EnergySavingsFrame['Borough']=='QUEENS', 'Job created'].sum())
print('The number of jobs created in Queens was',Number_of_Queens_jobs)

The number of jobs created in Queens was 1196

In [20]:
emails = EnergySavingsFrame['company email']
doms = emails.str.split('@').str[1]
print('There are ', doms.count(), 'email addresses, with ', doms.nunique(), 'unique ones.')

There are  2205 email addresses, with  591 unique ones.

In [21]:
#Considering only NTAs with at least 5 listed businesses, what is the average total savings 
# and the total jobs created for each NTA?
NTA_ColName='Neighborhood Tabulation Area (NTA) (2020)'
NTA_list = EnergySavingsFrame[NTA_ColName].dropna().unique().tolist()
print(' There are',len(NTA_list), "distinct NTA's")


NTA_dict = {}
for nta in NTA_list:
    ntarows = EnergySavingsFrame.index[EnergySavingsFrame[NTA_ColName] == nta].tolist()
    l = len(ntarows)
    if l>=5:
        NTA_dict[nta]=ntarows
    
print('Got the NTA_dict, which has a row-list for each of the', \
       len(NTA_dict), 'distinct ntas with at least five companies')    


AvgTotalSavings_dict = {}
TotalJobsCreated_dict = {}
for nta, ntarows in NTA_dict.items():
    AvgTotalSavings_dict[nta] = round(EnergySavingsFrame.loc[ntarows,'Total Savings'].sum(),2)
    TotalJobsCreated_dict[nta] = int(EnergySavingsFrame.loc[ntarows,'Job created'].sum())
    
print("Now got two more dict's, one with (nta,avg savings) pairs, \
and one with (nta, jobs created) pairs")

print("\n Now I'm going to write the CSV file per the instructions")
    
filename = 'NYC_EnergySavings.csv'
with open(filename, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['NTA', 'AVg Savings', 'Jobs Created'])
    for nta in NTA_dict:
        writer.writerow([nta, AvgTotalSavings_dict[nta], TotalJobsCreated_dict[nta]])
        
print('OK Now done! Have a look')
!ls

 There are 97 distinct NTA's
Got the NTA_dict, which has a row-list for each of the 72 distinct ntas with at least five companies
Now got two more dict's, one with (nta,avg savings) pairs, and one with (nta, jobs created) pairs

 Now I'm going to write the CSV file per the instructions
OK Now done! Have a look
'Day 5.ipynb'
 Day4.ipynb
 Day4a.ipynb
 NYC_EnergySavings.csv
 TryIt.jnk
 UnixPlay
 Untitled.ipynb
 Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses.csv
 junk.txt